h1{
  color: #333;
  font-size: 1.2em;
}
h2 { 
  color: black;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em;
  background-color: #888; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia;
  background-color: #888;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}
/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}
