<h2>Single User</h2>

<div class="search-bar">
    <span><input [(ngModel)]="searchInput" placeholder="UserName" /></span>
    <span><button (click)="searchUser()">Search User</button></span>
    <span><button (click)="searchUserChn()">Search Chn</button></span>
</div>
<!--<div>
    {{output}}
</div>-->

<div *ngIf = "searchingBool">
    <h2>Searching...</h2>
</div>

<div *ngIf="!searchingBool">
    <h2>Search Result:</h2>
    <div *ngIf="someUser">
        {{someUser.display_name}} <span *ngIf="chnSearched">({{someUser.current_game}})</span>
        <div>
            Last updated: {{someUser.last_updated}}
        </div>
    </div>
    <div *ngIf="statusMessage !== searchSuccess">
        {{statusMessage}}
    </div>
    <ul *ngIf="someUser && chnSearched">
        <li>Views: {{someUser.views}}</li>
        <li>Channel: {{someUser.channel_link}}</li>
        <!--<li>Game: {{someUser.current_game}}</li>-->
    </ul>
</div>
