<h2>
    Multi User Stream Info
</h2>

<div class="search-bar">
    <span><input [(ngModel)]="nameInput" placeholder="UserName" /></span>
    <span><button (click)="addUser()">Search User</button></span>
    <span><button (click)="getStreamData()">Get Stream</button></span>
</div>

<div *ngIf="usersArr">
    <div *ngFor="let i of usersArr">
        <span>Name: {{i.display_name}}</span>
        ({{i.status}})
    </div>
</div>
