  .users {
    margin: auto;
    margin-top: 1em;
    list-style-type: none;
    padding: 0px 4px 0px 4px;
    width: auto;
    background-color: mintcream;
    border-radius: 4px;
  }

  .user-details{
    color: dimgray;      
  }

  .search-bar *{
      padding: 0px;
      margin: 0px;
      padding: 0.6em 0em 0.6em 0em;
      font-size: 1.0em;
  }
  .search-bar input{
      width: 61%;
      border-radius: 2px;
      padding-left: 2px;
  }
  .search-bar button{
      width: 36%;
  }

