  * {
      color: black;
  }
  
  .search-bar *{
      padding: 0px;
      margin: 0px;
      padding: 0.6em 0em 0.6em 0em;
      font-size: 1.0em;
  }
  .search-bar input{
      width: 61%;
      border-radius: 2px;
      padding-left: 2px;
  }
  .search-bar button{
      width: 36%;
  }

  li {
      color: black;
  }
