<h2>Search Twitch Users</h2>
<div>
    <div class="search-bar">
        <span><input [(ngModel)]="searchTerm" placeholder="UserName" /></span>
        <span><button (click)="searchUsers()">Search Users</button></span>
    </div>
    <ul class="users">
        <li *ngFor="let user of tUsers">
            <span class="user-element">
            <span class="user-details">Name: </span>{{user.display_name}}<br>
            <span class="user-details">Game: </span>{{user.current_game}}<br>
            <span class="user-details">Followers: </span>{{user.followers}}
            <hr>
            </span>
        </li>
    </ul>
</div>