<div *ngIf="stock">
    <h2>Details of {{stock.name}}</h2>
    <div>
        <label>id: </label>{{stock.id}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="stock.name" placeholder="name" />
    </div>
    <div>
        <label>Symbol: {{stock.ticker}} </label>
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>