<h3>My Stocks</h3>
<ul class="stocks">
  <li *ngFor="let stock of stocks" (click)="onSelect(stock)" [class.selected]="stock === selectedStock">
    <span class="stock-element">
      <span class="badge">{{stock.id}}</span> {{stock.name}}
    </span>
    <span class="add-del">
      <button class="delete-button" (click)="delete(stock, $event)">Delete</button>
    </span>
    
  </li>
</ul>
<button (click)="addStock()">Track New Stock</button>
<div *ngIf="addingStock">
  <my-stock-detail (close)="close($event)"></my-stock-detail>
</div>
<div *ngIf="selectedStock">
  <h2>
    {{selectedStock.ticker | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>